.currency-volume text {
  fill: white;
}

rect {
  fill: steelblue;
}

text {
  font: 10px sans-serif;
  text-anchor: middle;
}

body { font: 12px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.linedot {
  stroke: #3E85A2;
  stroke-width: 1;
  fill: #fff;
}


.tooltipsy
{
    padding: 10px;
    max-width: 200px;
    color: #303030;
    background-color: #f5f5b5;
    border: 1px solid #deca7e;
}
