rect {
  fill: steelblue;
}

text {
  /*fill: white;*/
  font: 10px sans-serif;
  text-anchor: middle;
}

body { font: 12px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.linedot {
  stroke: #3E85A2;
  stroke-width: 1;
  fill: #fff;
}
